[Unit]
Description=Traccar Node Client
After=network.target

[Service]
Type=simple
RestartSec=10
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=traccer-node-client
Environment=PATH=/usr/bin:/usr/local/bin
ExecStart=/home/mhomepi/.nvm/versions/node/v20.17.0/bin/node /home/mhomepi/traccar-node-client/index.js

[Install]
WantedBy=multi-user.target